/****BASE STYLES****/

body {
     font-family: 'Asap', sans-serif;
     }

/****GRID****/

.full-width {
            margin: 0 auto;
            overflow: auto;
            width: 1200px;
            }

.third-width {
             float: left;
             width: 400px;
             }

/**** HEADER *****/
header {
       height: 800px;
       }

nav {
    float: right;
    padding: 100px 25px;
    }

nav ul li {
          display: inline-block;
          }

nav ul li a {
            color: #365F70;
            font-size: 24px;
            margin-top: 1000px;
            padding: 0px 25px;
            text-decoration: none;
            text-transform: uppercase;
            }

header h1 {
          color: #B82C45;
          font-family: 'Karla', sans-serif;
          font-size: 64px;
          }

header h1 span {
               color: #B8B139;
               }

header h2 {
          color: #365F70;
          font-family: 'Asap', sans-serif;
          font-size: 48px;
          font-weight: 400;
          }

/****ABOUT SECTION****/
#about {
       background-color: #B82C45;
       height: 1050px;
       }

#about h3 {
          color: white;
          font-family: 'Karla', sans-serif;
          font-size: 36px;
          margin: 100px 0px 10px 0px;
          text-align: center;
          }

#about img {
           border-color: #B8B139;
           border-radius: 8px;
           border-style: solid;
           border-width: 5px;
           height: 300px;
           margin: 25px 440px;
           width: 300px;
           }

#about p {
         color: white;
         font-size: 20px;
         font-weight:400;
         line-height: 25px;
         margin: 50px 300px 25px 300px;
         text-align: center;
         }

#about p span {
              color: #B8B139;
              }

/****PORTFOLIO SECTION****/
#portfolio {
           height: 750px;
           }

#portfolio h3 {
              color: #365F70;
              font-family: 'Karla', sans-serif;
              font-size: 36px;
              margin: 100px 0px 75px 0px;
              text-align: center;
              }

#portfolio img  {
                border-color: #B7B7B7;
                border-style: solid;
                border-width: 1px;
                margin: 10px 22px 25px 22px;
                }

#portfolio p  {
              color: #365F70;
              font-family: 'Asap', sans-serif;
              font-size: 20px;
              line-height: 25px;
              margin: 10px 22px 25px 22px;
              text-align: center;
              }

/****CONTACT FOOTER SECTION****/
#contact {
         background-color: #B82C45;
         height: 750px;
         }

#contact h3 {
            color: white;
            font-family: 'Karla', sans-serif;
            font-size: 36px;
            margin: 90px 0px 35px 0px;
            text-align: center;
            }

#contact p {
           color: white;
           font-size: 20px;
           font-weight: 400;
           line-height: 25px;
           margin: 10px 22px 25px 22px;
           text-align: center;
           }

#contact p span {
                color:#B8B139;
                font-size: 16px;
                }

#contact ul li {
               display: inline-block;
               }

#contact ul li a {
                 color: white;
                 margin: 0px 5px 0px 45px;
                 }

#contact a:link {
                background-color: transparent;
                color: white;
                text-decoration: underline;
                }

iframe {
       border-style: none;
       }

#contact h5  {
             color: black;
             font-family: 'Karla', sans-serif;
             font-size: 16px;
             margin: 5px auto 5px auto;
             text-align: center;
             }
